* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
p.all-p {
  line-height: 1.4;
}
a:hover{
  color: #fecc18;

}
/*--------------------TOP HEADER CSS START-------------------------*/
section.top-header {
  background: #fecc18;
  height: 46px;
}
.top-header-left:before {
  content: "";
  width: 100%;
  z-index: 3;
  clip-path: polygon(77% 0, 100% 100%, 51% 100%, 0 100%, 0 0);
  background: #191f23;
  height: 75px;
  position: absolute;
  top: 0;
  right: 128px;
}
.top-header-left {
  position: relative;
}
.top-header-right ul li {
  display: inline-block;
  margin-left: 12px;
}
.top-header-right li a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
.top-header-right {
  text-align: right;
}
.top-header-right ul {
  margin-top: 10px;
}
.top-header-right ul li {
  display: inline-block;
  margin-left: 12px;
}
/* =====responsive of top header====== */
@media (max-width: 62em) {
  .top-header {
    display: none;
  }
}
/*---------------------------------------TOP HEADER CSS END----------------------------------*/

/*------------------------------------TOP 2ND HEADER CSS START---------------------------------*/
section.second-top-header {
  background: #191f23;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 9;
}
.second-top-header-logo {
  padding: 12px;
}
.second-top-header-logo img {
  width: 200px;
  position: absolute;
  top: -10px;
  z-index: 3;
}
.second-top-header .second-top-header-menubar ul {
  margin: 0px;
  padding: 18px;
}
.second-top-header .second-top-header-menubar ul li {
  display: inline-flex;
}
.second-top-header .second-top-header-menubar li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 36px;
  transition: ease 0.3s;
}
.second-top-header .second-top-header-menubar li a:hover,.second-top-header .second-top-header-menubar li.active a {
  color: #fecc18;
  border-bottom: 1px solid #fecc18 ;
}
.second-top-header .second-top-header-search form .form-group {
  position: relative;
  margin-top: 10px;
  margin-bottom: 0px;
}
.second-top-header .second-top-header-search form .form-group input {
  border: 0;
  border-bottom: 1px solid #e72511;
  border-radius: 0;
  padding: 0;
  background: transparent;
  /* color: #bfbfbf; */
}
.second-top-header .second-top-header-search button {
  border: none;
  background: transparent;
  position: absolute;
  top: 8px;
  color: #bfbfbf;
  right: 0;
}






/* Dropdown Button */
.dropbtn {
  /* background-color: #04AA6D; */
  /* color: white; */
  background-color: #00000000;
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;

  z-index: 1;
}


.dropdown-content a {
 
  
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #00000000;
  min-width: 60px;
  
  flex-direction: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;

}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: none;
  
}
/* ================reponsive css starts====================== */
.mobile-nav-btn {
  color: #fff;
  text-align: end;
  display: none;
  z-index: 999;
  color: #fff;
}
.toggle-nav-icons-js[name="close-outline"] {
  display: none;
}
.toggle-nav-icons-js {
  width: 3rem;
  height: 3rem;
}
.second-top-header-menubar {
  position: relative;
}
/* =====responsive code====== */
/* below 980px */
@media (max-width: 62em) {
  .mobile-nav-btn {
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: end;
    text-align: right;
  }

  .second-top-header-logo img {
    width: 150px;
    position: absolute;
    top: 16px;
  }
  .second-top-header-menubar {
    padding: 100px 0;
    width: 100%;
    background: #191f23;
    position: absolute;
    top: 0;
    right: -100%;
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .second-top-header-menubar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
  }

  .second-top-header-menubar ul li {
    border-bottom: 2px solid #424242;
    padding: 12px;
    width: 100%;
  }

  .second-top-header-menubar li a {
    color: #000;
  }
  .active .second-top-header-menubar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    right: 0;
  }

  .active .second-top-header-menubar ul {
    flex-direction: column;
    align-items: center;
  }

  .active .mobile-nav-btn .toggle-nav-icons-js[name="close-outline"] {
    display: block;
    outline: none;
  }

  .active .mobile-nav-btn .toggle-nav-icons-js[name="menu-outline"] {
    display: none;
    outline: none;
  }
}

/* below 560px */
@media (max-width: 35em) {
  .second-top-header {
    padding: 0 2.4rem;
  }

  .second-top-header .second-top-header-logo img {
    width: 120px;
    display: block;
    position: absolute;
    top: 38px;
  }
}
/*-----------------------------------------TOP 2ND HEADER CSS END----------------------------------*/

/*------------------------------------banner slider start----------------------------------------*/
section.banner-slider {
  position: relative;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
}
section.banner-slider a span {
  border: 2px solid #000;
  padding: 6px 12px;
  color: #fff;
  background: #000;
  border-radius: 25px;
}
a.carousel-control-prev span {
  position: absolute;
  left: 8px;
}
a.carousel-control-next span {
  position: absolute;
  right: 6px;
}
section.banner-slider a span:hover {
  background: #000000eb;
  border: 2px solid #000000eb;
}
section.banner-slider a {
  color: #fff;
  z-index: 9;
}
.slider .carousel-control-prev span {
  background: black;
  border: 20px;
  padding: 9px 15px;
  border-radius: 20px;
}
.slider .carousel-control-next span {
  background: black;
  border: 20px;
  padding: 9px 15px;
  border-radius: 20px;
}
/* ================banner slider content====================== */
.banner-slider-text {
  position: absolute;
  top: 110px;
  left: 145px;
  text-align: left;
  height: 310px;
  padding-right: 40px;
  padding-left: 15px;
}

.banner-slider-text h2 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.banner-slider-text h3 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  border-bottom: 3px solid;
  padding-bottom: 16px;
}

.banner-slider-text span {
  color: #fecc18;
  text-shadow: 8px 6px 2px #191f23;
}

.banner-slider-text p {
  font-size: 1.4rem;
  color: #fff;
  text-align: justify;
}
/* ========banner slider content with button================ */
.banner-slider-button button {
  padding: 6px 20px;
  text-align: center;
  /* width: 25%; */
  border: 2px solid #fecc18;
  background: #fecc18;
}
.banner-slider-button i {
  margin: 8px;
}
.banner-slider-button button:hover {
  background: transparent;
  border: 2px solid;
  transition: 0.3s ease;
  color: #fff;
}
/* ================banner slider content====================== */

/* ================banner slider bg color===================== */
.bg-element {
  position: relative;
}

.bg-element:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hwb(0 0% 100% / 0.4);
}
/* ================banner slider bg color=================== */
/* ============responsive banner slider======= */
@media (max-width: 62em) {
  .banner-slider-text {
    position: absolute;
    top: 3rem;
    left: 5rem;
    height: 280px;
  }
  .banner-slider-text h2 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }
  .banner-slider-text h3 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid;
    padding-bottom: 16px;
  }
  .banner-slider-text p {
    font-size: 12px;
    color: #fff;
  }
  .banner-slider-button button {
    padding: 5px 10px;
    border: 2px solid #fecc18;
    background: #fecc18;
    font-size: 12px;
  }
  /* banner slider responsive */
  span.slider-icons {
    height: 15px;
    border: 2px solid;
    border-radius: 13px;
    width: 16px;
    padding: 8px;
  }
  div#main-slider li button {
    width: 10px;
  }
}
/* below 560px */
@media (max-width: 35em) {
  .banner-slider-text {
    position: absolute;
    top: 2rem;
    left: 4rem;
  }
  .banner-slider-button i {
    margin: 0;
  }
  .banner-slider-text h2 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }
  .banner-slider-text h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid;
    padding-bottom: 8px;
  }
  .banner-slider-text p {
    font-size: 10px;
    color: #fff;
    margin: 0;
    display: none;
  }
  .banner-slider-button button {
    padding: 2px 10px;
    border: 2px solid#fbb400;
    background:#fbb400;
    font-size: 8px;
  }
  .banner-slider-button button i {
    font-size: 8px;
  }
}
/*---------banner slider css end---------------------*/
/*-----------------welcome part css starts--------------------*/
section.welcome-part {
  margin-top: 60px;
}
.col-lg-6.welcome-right {
  padding: 2rem;
}
.welcome-part-heading p {
  margin: 15px 0 0px;
  font-weight: 400;
  color: gray;
  font-family: "Roboto", sans-serif;
}
span.h-span {
  color: #fecc18;
}
.welcome-part-heading .welcome-heading {
  font-size: 48px;
  font-weight: 800;
  margin: 0 0 0;
  color: #000;
}
.welcome-part-heading {
  text-align: center;
  text-transform: uppercase;
}
.welcome-part-heading .heading {
  margin: 0 0 1rem 0;
  font-family: "Roboto", sans-serif;
}
.underline-flames {
  text-align: center;
  margin-bottom: 25px;
  padding: 6px;
}
.underline-flames i {
  padding: 18px;
  font-size: 20px;
  color:#fbb400;
  margin: 0 20px;
}
.underline-flames span {
  width: 100%;
  border-bottom: 2px solid;
}
span.outer-line {
  display: inline-block;
  width: 25%;
  border-bottom: 1px solid#fbb4007d;
  vertical-align: middle;
}
.welcome-part-box-right {
  text-align: justify;
}
.welcome-part-box-right h2 {
  text-align: start;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid#fbb4007d;
  padding-bottom: 20px;
}
.welcome-part-box-right span {
  color: #fecc18;
}
.welcome-part-box-right p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0px;
  color: #424242;
}
div#pills-home {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0px;
  color: #424242;
}
div#pills-tabContent {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0px;
  color: #424242;
}
button.nav-link {
  text-transform: uppercase;
  color: #000;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  border-bottom: 2px solid #fecc18;
}
.welcome-part-button button a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.flames-content-nav-tab .nav-pills .nav-link {
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem 1rem 0.5rem 0;
}
.flames-content-nav-tab .nav-pills .nav-link:hover {
  color:#fbb400;
}
.welcome-part-button {
  text-align: start;
  position: relative;
  padding-top: 40px;
}
.welcome-part-button i {
  margin: 8px;
}
.welcome-part-button button {
  padding: 6px 20px;
  border: 2px solid #fecc18;
  text-align: center;
  background: #fecc18;
}
.welcome-part-button button:hover {
  background: transparent;
  border: 2px solid;
  transition: 0.3s ease;
}
.welcome-part-box {
  height: 423px;
  margin-top: 18px;
}
.welcome-part-box-left-img {
  position: relative;
  width: 92%;
}
.flames-content-nav-tab .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fecc18;
  background-color: transparent;
}
.img-fluid.welcme-img {
  max-width: 90%;
  height: auto;
  position: absolute;
  top: 58px;
  right: -22px;
}
.welcome-part-box-left-img2 {
  border: 3px solid#fbb400;
  width: 100%;
  height: 295px;
  position: absolute;
  top: 24px;
  left: -14px;
  z-index: -1;
}
/* ============================= */

/* Welcome Section CSS */
.welcome-heading {
  font-size: 48px;
  line-height: 1.8;
  font-weight: 800;
  margin: 0 0 0;
  color: #000;
}
.welcome-header p {
  margin: 15px 0 0px;
  font-weight: 400;
  color: gray;
  font-family: "Roboto", sans-serif;
}
.capitalize-text {
  text-transform: uppercase;
}
.welcome-image-container {
  position: relative;
  margin-top: 24px;
  margin-left: 14px;
  height: 100%;
}
.welcome-image-container::before {
  content: "";
  height: 100%;
  width: 100%;
  border: 3px solid #fecc18;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translate3d(-28px, -22px, 20px);
  border-radius: 4px;
}
.welcome-image-container img {
  object-fit: cover;
  object-position: top;
  width: 100%;
}
/* ======responsive of welcome========= */
@media (max-width: 62em) {
  .welcome-heading {
    font-size: 30px;
  }
  .col-lg-6.welcome-right {
    padding: 0 32px;
  }
  .welcome-part-box-right h2 {
    font-size: 22px;
    text-align: center;
  }
  .welcome-part-box-right p {
    font-size: 14px;
  }
  .welcome-part-button button {
    font-size: 12px;
    margin-top: 12px;
  }
  .welcome-part-button {
    text-align: center;
    padding-top: 30px;
  }
}
@media (max-width: 35em) {
  .welcome-part-button {
    text-align: center;
    padding-top: 30px;
  }
  .welcome-heading {
    font-size: 40px;
    padding: 6px;
  }
}
/*-------------welcome part css ends----------------*/

/*--------our services css starts--------------*/
section.main-our-services {
  margin-top: 70px;
}
.our-services-heading {
  text-align: center;
}
/* .our-services-heading .welcome-heading {
  font-size: 48px;
  font-weight: 800;
  margin: 0 0 0;
} */
.our-services-heading .welcome-heading span {
  color: #fecc18;
}
.our-services-heading p {
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  color: #424242;
  padding: 0 100px;
}
.service-img-intro-container .service-img {
  height: 14rem;
  width: 100%;
  transition: all 1s linear;
}
.service-img-intro-container h4:after {
  content: '';
  border-bottom: 2px solid #fbb400;
  width: 0;display: block;
  transition: width 0.5s linear;
  padding-top: 5px;
}
.service-img-intro-container:hover h4:after {
    width: 100%;
}
.service-img-intro-container:hover img {
  transform: scale(1.2);
}
.figure {
  overflow: hidden;
  width: 100%;
}
.service-img-intro {
  background: #fff;
  padding: 20px;
  /* height: 186px; */
  width: 88%;
  position: absolute;
  top: 150px;
  right: 18px;
  box-shadow: 0px 0px 10px rgba(0 0 0 / 15%);
}
.service-img-intro h4 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
  font-weight: 700;
}
.service-img-intro p {
  line-height: 26px;
  color: #424242;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service-img-intro a {
  text-decoration: none;
  color: #fecc18;
  font-weight: 700;
  border: 2px solid #fecc18;
  padding: 8px;
  transition: 0.5s ease;
}
.service-img-intro a:hover {
  color: #000;
  border: 2px solid #000;
}
.service-img-intro-container {
  position: relative;
  height: 376px;
  padding: 4px;
}
.welcome-img {
  position: absolute;
  top: 57px;
  right: -18px;
}
.services-respo.text-center {
  display: none;
}
button.services-respo-btn {
  border: none;
}
button.serives-respo-btn a {
  color: #000;
  text-decoration: none;
}
/* =================responsive of services part starts============ */
@media (max-width: 62em) {
  .services-respo.text-center {
    display: block;
  }
  .services-respo button {
    background: #fecc18;
    border: 2px solid #fecc18;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
  }
  .services-respo-btn a {
    color: #000;
    text-decoration: none;
  }
  .services-respo button:hover {
    background: transparent;
    border: 2px solid;
    transition: 0.3s ease;
  }
  .services-respo-btn a:hover {
    color: #000;
  }
  .services-respo {
    text-align: center;
    border: none;
  }
  /* .service-img-intro-container.services2 {
    display: none;
  } */
  .our-services-heading p {
    padding: 20px 0 0 0;
    text-align: justify;
  }
}
/*-------------------our services css ends----------------------*/

/*-------------booked css start--------------------*/
.booked-img img {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 156px;
  right: 168px;
}
section.booked {
  color: #fff;
  clip-path: polygon(100% 1%, 100% 38%, 59% 100%, 0 100%, 0 0);
  margin: 50px 0;
  background-image: linear-gradient(rgb(31 45 48 / 87%), rgb(31 45 48 / 86%)), url(../../assets/img/g2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.booked-img {
  position: relative;
}
.booked-content h3 {
  font-size: 46px;
  line-height: 52px;
  color: #fff;
  margin-bottom: 20px;
}
.booked-content h3 span {
  color: #fecc18;
  /* display: block; */
  margin: 0;
  padding: 0;
}
.booked-content {
  padding: 0;
  margin: 5rem 0;
}
.booked-content p {
  font-size: 18px;
  font-weight: 500;
  color: #ccc;
  margin: 0;
  margin-right: 115px;
}
.la-phone-volume:before {
  content: "\f2a0";
}
i.bi.bi-phone-vibrate:before {
  content: "\f2a0";
  color:#fbb400;
}
.cta-call {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}
.cta-call i {
  background-color: rgb(255 153 0 / 22%);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 40px;
  color: #fecc18;
  border-radius: 2px;
}

.cta-call p {
  font-size: 18px;
  font-weight: 500;
  color: #ccc;
  margin: 0;
}

.cta-call p span {
  display: block;
  text-transform: uppercase;
}

.cta-call p a {
  color: #fecc18;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}
/* =========responsive of booked======= */
@media (max-width: 62em) {
  .booked-content h3 {
    font-size: 25px;
    line-height: 30px;
    color: #fff;
  }
  .cta-call p a {
    font-size: 25px;
  }
}
@media (max-width: 35em) {
  .cta-call p a {
    font-size: 20px;
  }
}

/*----------------------booked css ends ---------------------*/

/* ----------------our fleets css start----------------- */
.our-fleets-heading {
  text-align: center;
}
.our-fleets-heading h3 {
  font-size: 48px;
  font-weight: 800;
  margin: 0 0 0;
}
.our-fleets-heading h3 span {
  color: #fecc18;
}
.our-fleets-heading p {
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  color: #424242;
  padding: 0 100px;
}
section.our-fleets {
  margin-top: 50px;
  padding-bottom: 30px;
}
.our-fleets-img img {
  width: 100%;
  object-fit: cover;
  height: 18rem;
  padding: 8px;
}
.our-fleets-img img:hover {
  transform: translateY(-10px) !important;
  box-shadow: 4px 4px 14px 11px rgba(0, 0, 0, 0.05);
  transition: cubic-bezier(0.075, 0.4, 0.165, 0.5);
}
.fleets-respo {
  /* display: none; */
  text-align: center;
  padding: 10px;
}
.fleets-respo button {
  padding: 6px 20px;
  border: 2px solid #fecc18;
  text-align: center;
  background: #fecc18;
}
.fleets-respo-btn a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.fleets-respo button:hover {
  background: transparent;
  border: 2px solid;
  transition: 0.3s ease;
}
.fleets-respo-btn a:hover {
  color: #000;
}
/* =================responsive of fleets part starts============ */
@media (max-width: 62em) {
  .fleets-respo {
    display: block;
  }
  .fleets-respo button {
    background: #fecc18;
    border: 2px solid #fecc18;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
  }
  .fleets-respo-btn a {
    color: #000;
    text-decoration: none;
  }
  .fleets-respo button:hover {
    background: transparent;
    border: 2px solid;
    transition: 0.3s ease;
  }
  .fleets-respo-btn a:hover {
    color: #000;
  }
  .fleets-respo {
    text-align: center;
    border: none;
  }
  /* .row.hide-child .col-lg-4:nth-child(n + 3) {
    display: none;
  } */
  .our-fleets-heading p {
    padding: 20px 0 0 0;
    text-align: center;
  }
}
@media (max-width: 35em) {
  .our-fleets-heading p {
    padding: 0;
    text-align: justify;
  }
}
/*------------------------------our fleets part css ends --------------------------*/
/* -------------------testimonials css starts -------------------------*/
/* testimonial sec sec*/
.testimonial-sec {
  background-color: #f8f8f8;
opacity: 1;
background-size: 70px 70px;
background-image:  repeating-linear-gradient(to right, #ddd, #ddd 3.5px, #f8f8f8 3.5px, #f8f8f8);
padding: 100px 0;
}
.sec-title.center.text-center h3 {
  font-size: 48px;
  font-weight: 800;
  margin: 0 0 11px 0;
  line-height: 1.8;
}
.sec-title.center.text-center h5 {
  margin: 15px 0 0px;
  font-weight: 400;
  color: gray;
  font-family: "Roboto", sans-serif;
}

#google-reviews .review-item {
  position: relative;
  background: #fbb400;
  padding: 4rem 2rem;
  border: 0;
  flex: 0 0 80%;
  color: #000;
  transition: all 0.3s ease-in 0s;
  text-align: center;
  padding: 0;
}
span.review-author {
  display: block;
}
.review-meta {
  font-weight: 500;
  padding: 12px 0;
}
#google-reviews .review-item:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  color: rgba(255, 255, 255, 0.651);
  position: absolute;
  left: 2.5rem;
  top: 0;
  font-size: 4rem;
  line-height: 4rem;
  transition: all 0.3s ease-in 0s;
}
#google-reviews .review-item:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  color: rgba(255, 255, 255, 0.651);
  position: absolute;
  right: 2.5rem;
  bottom: 0;
  font-size: 4rem;
  line-height: 4rem;
  transition: all 0.3s ease-in 0s;
}
#google-reviews .review-text {
  font-size: 1.4rem;
  color: #000;
  text-align: justify;
  padding: 50px 42px;
}

.review-stars ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.review-stars ul li {
  float: left;
  margin-right: 5px;
}

.review-stars ul li i {
  color: #fecc18;
  font-size: 18px;
}
.review-stars ul li i.inactive {
  color: #c6c6c6;
}
.star:after {
  content: "\2605";
}
/* Page Title */
.pageheader-wrapper {
  position: relative;
  height: 32rem;
  background-size: cover;
  padding: 6rem 0;
  background-position: center center;
  display: flex;
  align-items: center;
}
.pageheader-wrapper:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 44, 91, 0.8);
}
.pageheader-wrapper .pageheader-inner {
  z-index: 2;
  text-align: center;
  margin-top: 7rem;
}
.pageheader-wrapper .page-title {
  padding: 0;
  margin: 0;
  color: #fbb400;
  font-size: 4rem;
}
.pageheader-wrapper ul.bread-crumb {
  display: flex;
  padding: 0;
  justify-content: center;
}
.pageheader-wrapper .pageheader-inner .bread-crumb li {
  color: #ffffff;
}
.pageheader-wrapper .pageheader-inner .bread-crumb li a {
  position: relative;
  color: #ffffff;
  transition: all 0.3 ease-in 0s;
}
.pageheader-wrapper .pageheader-inner .bread-crumb li a:hover {
  color: #fbb400;
}
.pageheader-wrapper .breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff;
}
@media (max-width: 62em) {
  #google-reviews .review-item:before{
    font-size: 3rem;
  }
  #google-reviews .review-item:after{
    font-size: 3rem;
  }
}
@media (max-width: 35em) {
  #google-reviews .review-item:before{
    font-size: 3rem;
  }
  #google-reviews .review-item:after{
    font-size: 3rem;
  }
}
/*-----------------------------testimonals css ends------------------------------  */
/* ========scroll up btn==== */
.back-to-top i {
  padding: 22px 0;
  color: #000;
}
.back-to-top {
  position: fixed;
  bottom: 50px;
  opacity: 0;
  visibility: hidden;
  right: -100px;
  z-index: 1000;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.back-to-top.visible {
  opacity: 1;
  visibility: visible;
}
.back-to-top a {
  position: relative;
  top: 0;
  display: block;
  width: 64px;
  height: 64px;
  background-color: #fbb400;
  font-size: 24px;
  line-height: 64px;
  text-align: center;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.back-to-top:hover a {
  top: -10px;
  opacity: 0.8;
}
@media (max-width: 35em) {
  #google-reviews .review-text {
    padding: 0px 18px 40px 18px;
    font-size: 20px;
    height: 260px;
  }
}
/* =====responsive of scroll up==== */
@media (max-width: 991px) {
  .back-to-top.visible {
    bottom: 23px;
    right: -100px;
  }
  .back-to-top i {
    padding: 12px 0;
    color: #000;
  }
}
@media (max-width: 767px) {
  .back-to-top.visible {
    bottom: 42px;
    right: -100px;
  }
  .back-to-top i {
    padding: 12px 0;
    color: #000;
  }
}
@media (max-width: 1199px) {
  .back-to-top {
    right: 15px;
  }
  .back-to-top i {
    padding: 12px 0;
    color: #000;
  }
}
@media (max-width: 991px) {
  .back-to-top {
    right: 15px;
  }
  .back-to-top i {
    padding: 12px 0;
    color: #000;
  }
}
@media (max-width: 575px) {
  .back-to-top a {
    width: 45px;
    height: 45px;
    line-height: 48px;
    font-size: 21px;
  }
  .back-to-top i {
    padding: 12px 0;
    color: #000;
  }
}
/*--------------------------------footer css start---------------------------------------*/
footer.main-footer {
  margin-top: 0px;
}
section.footer {
  background: #191f23;
  color: #fff;
  padding: 20px 0;
}
/* ================footer up part css starts================== */
.footer-up-left {
  clip-path: polygon(77% 0, 100% 100%, 51% 100%, 0 100%, 0 0);
  background: #191f23;
  height: 75px;
  position: absolute;
  top: 26px;
  width: 70%;
}
.footer-up {
  height: 100px;
  position: relative;
  /* margin-top: 30px; */
}
.footer-up-right {
  background: #fecc18;
  height: 75px;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 48px;
  right: 0;
}
/* ===============footer up part css ends========================= */
.footer-logo {
  padding: 40px 0;
  display: table;
  vertical-align: middle;
  font-size: 36px;
  color: #efbb20;
  width: 200px;
  height: 60px;
}
.footer-logo img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.footer-boxes.fbox-1 {
  margin-top: -40px;
}
.footer-boxes p {
  text-align: left;
  line-height: 26px;
}
.footer-boxes ul {
  margin-top: 36px;
  padding: 0;
}
.footer-logo-ul ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 60%;
}
.footer-logo-ul li {
  list-style: none;
  padding-right: 12px;
}
.footer-logo-ul li a {
  color: #fff;
  list-style: none;
  text-decoration: none;
  padding: 3px;
  border: 1px solid;
  width: 25px;
  text-align: center;
}
.footer-boxes {
  margin-top: 10px;
  padding: 10px 6px;
}
.footer-boxes li {
  list-style: none;
  margin-bottom: 8px;
}
.footer-boxes h3 {
  color: #fecc18;
  padding: 18px 0;
  border-bottom: 2px solid #b1acac61;
}
ul.list-content.list-x2 li a {
  color: #fff;
  text-decoration: none;
}
.footer-boxes li a:hover {
  color:#fbb400;
  transition: 0.2s ease;
}
.footer-contact-ul li {
  display: grid;
}

.footer-contact-ul strong {
  text-transform: uppercase;
  color: #fecc18;
}
/*======================footer-2 css starts=================*/
.footer-2-ul ul {
  display: flex;
}
.footer-2-ul ul li {
  width: 30%;
  list-style: none;
}
.footer-2-ul ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-2 {
  font-size: 14px;
  font-weight: 700;
  background: #222;
  text-align: justify;
  background-image: url(../img/background.png);
  color: #fff;
}
.footer-2 p {
  text-align: center;
  margin-top: 14px;
}
i.far.fa-heart {
  padding: 0 6px;
  color:#fbb400;
  font-size: 20px;
}
ul.list-content li::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}
ul.list-content.list-x2 li {
  padding-bottom: 3px;
}
.footer-middle::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #fecc18;
}
/*========================footer css ends======================*/
/* --------------------------Whole footer part css ends ------------------------- */

.list-x2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}
.list-x2 li {
  width: 50%;
  padding-right: 1rem;
}
.show {
  right: 15px !important;
}
/* ========footer payments css starts===== */
.pay-cards img {
  height: 38px;
}
.pay-cards ul {
  margin: 0;
}
a.payment-img img {
  display: block;
}

.pay-cards ul {
  display: flex;
}

.pay-cards li {
  padding:  15px;
}
/* =========footer payments css ends===== */
/* ========call button css starts======== */
.call-icon button {
  padding: 20px;
  border: navajowhite;
  background: transparent;
}
.call-icon i {
  font-size: 20px;
}

.call-icon {
  width: 60px;
  height: 60px;
  background-color: #fbb400;
  border-radius: 50%;
  display: none;
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(0, -2px);
  }
  75% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0);
  }
}
/* ========call button css ends======== */
/*========= responsive of call icon css starts======== */
@media (max-width: 62em) {
  .call-icon{
    display: block;
    position: fixed;
    bottom: 120px;
    right: 15px;

  }
  .call-icon:hover{
    animation: vibrate 1s infinite;
  }
  /* ======call button css starts===== */
.wrap-all-modal {
  border-radius: 0!important;
  border-bottom: 1px solid#fbb4007d!important;
}
.call-text-btn {
  text-align: center;
}
.call-text-btn button {
  padding: 6px 20px;
  margin: 6px;
  background: #fbb400;
  border: 2px solid#fbb400;
}
.call-text-btn a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  padding: 10px;
}
/* ======call button css ends===== */
}
@media (max-width: 35em) {
  .call-icon{
    display: block;
    position: fixed;
    bottom: 120px;
    right: 15px;
  }
  .call-icon:hover{
    animation: vibrate 1s infinite;
  }
  /* ======call button css starts===== */
.wrap-all-modal {
  border-radius: 0!important;
  border-bottom: 1px solid#fbb4007d!important;
}
.call-text-btn {
  text-align: center;
}
.call-text-btn button {
  padding: 6px 20px;
  margin: 6px;
  background: #fbb400;
  border: 2px solid#fbb400;
}
.call-text-btn a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  padding: 10px;
}
/* ======call button css ends===== */
}
/*========= responsive of call icon css ends======== */

.review-stars img {
  width: 80px;
  padding: 20px 0;
}

p.review-text {
  font-size: 18px;
  color: #fff;
} 
.test-btn {
  /* border: 2px solid; */
  height: 40px;
  color: #000;
  width: 40px;
  background: #fbb400;
}
button.carousel-control-prev.test-btn.test-p-btn {
  position: absolute;
  left: -10rem;
  top: 6rem;
}

button.carousel-control-next.test-btn.test-n-btn {
  position: absolute;
  right: -10rem;
  top: 6rem;
}
.review-stars {
  background: #5e5e5e;
  padding: 20px 40px;
  text-align: center;
}

.review-stars h4 {
  color: #fecc18;
}

.review-stars i.fa-solid.fa-quote-right {
  font-size: 70px;
  color: #fecc18;
  padding: 20px 18px;
}












/* about us page */




.content-design{
  display: flex;
  gap: 45px;
  padding: 20px;
 
}
.about-card{
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 9px 9px;
}

.about-card:hover {
  transform: scale(1.12);
  background: #fecc18;

}
.card-icon {
  text-align: center;
  padding: 15px;
}
.card-icon img, svg {
  vertical-align: middle;
  width: 60px;
  height: 60px;
}
.card-icon i {
  font-size: 24px;
  padding-top: 30px;
  color: #007bff;
}
.card-title {
  text-align: center;
  margin: 15px 0;
}
.card-head{
  font-size: 30px;
}
.card-content {
  text-align: center;
  padding: 0 20px 20px;
  text-align: justify;
}
.card-size{
  width: 30%;
}
h1.word-head {
  text-align: center;
  padding: 9px;
 padding-bottom: 20px;

}
.head p {
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 13px 45px
}
.word-wrapper{
  padding-bottom: 4rem;
  padding-top: 20px;
}

i.fas.fa-graduation-cap,i.fab.fa-medrt,i.fas.fa-parachute-box {
  font-size: 25px;
}

p.about-paragraph {
  padding-right: 10rem;
  text-align: justify;
}

@media (max-width: 996px){
  .card-responsive{
    padding-bottom: 20px;
    width: 50%;
  }
}
@media (max-width: 755px) {
  .card-responsive {
    width: 100%;
   padding-left: 50px;
   padding-right: 30px;
  }
}






.page-header{
  height: 300px;
}
.page-header-inner {
  background: rgba(0, 0, 0, .7);
  height: 300px;
}
.container.text-center {
  padding-top: 3rem;
}
li.breadcrumb-item a {
  color: white;
  text-decoration: none;
}
.container-fluid.page-header.mb-5.p-0 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}















/* booking */



.booking-section{
  background:#fff;
}

button.btn.btn-secondary.w-100.py-3 {
  background: 
  #fecc18;
}

.border-0 {
  /* border: 0!important; */
  border: solid 1px black;
}

p.text-white.mb-0 {
  text-align: justify;
}

.bootstrap-datetimepicker-widget.bottom {
  top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
  border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
  font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 10px;
  border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background: red;
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: var(--primary);
}

.contact-hero{
  font-size: var(--ff-chakra-petch);
}



#scrollToTopBtn {
 display: none;
  position: fixed;
  bottom: 6.5rem;
  right: 30px;
  z-index: 99;
  
  border: none;
  outline: none;
 
  color: yellowgreen;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}





/* reservation */
.reservbodywrap{
	max-width:767px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: white;
  padding: 30px;
	margin:0 auto;
}
.reservbodywrap h3,.reservbodywrap h4{
	font-family:Roboto;
	font-size:32px;
	font-weight:bold;
}
.reservbodywrap p{
	font-family:Roboto;
	font-size:16px;
	font-weight:400;

}
.reservbodywrap span{

	font-size:16px;
	font-weight:400;
	font-style:italic;
	color:#800000;
	margin:10px 0;
}

.formfieldselectmul select{
	display:inline-block;
	width:32%;
}
.reservpage .formfield input,.reservpage .formfield select{
	height:30px;
	font-size:16px;
}
.reservtype,.airlineother {
     display: none;   
}
.airportdrop{
	display:block;
}
.reservtype h4 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #ffc107;
  color:#191f23;
  margin: 15px 0px;
  padding: 10px 15px;
}
.reservtype .form-control{
	padding: 5px 10px;
}
.reservtype textarea.form-control{
	min-height:80px;
	max-height:130px;
	height:100px;
}

.reservtype label{
	display:block;
	font-family:poppins;
	font-size:14px;
}
.reservtype .formfield{
	margin-bottom:10px;
	position:relative;
}
.reservtype .formfield input,.reservtype .formfield select{
	border-radius:0;
	height:45px;
 
}
.reservtype .formfield textarea{
	max-width:100%;
	min-width:100%;
}
.reservtype .formfield_submit{
	margin:20px 0;
}
.reservtype .formfield_submit input{
	width:200px;
	position:relative;
	z-index:2;
	height:40px;
	color:var(--bg-color1);
	background-color:transparent;
	
	transition:350ms ease-in;
	text-transform:uppercase;
	font-size:13px;
	font-weight:600;
}
.reservtype .formfield_submit input:hover{
	color:#fff;
	background:green;
}
.reservtype .formfield_submit i{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	z-index: 2;
	color: var(--bg-color1);
	left: 175px;
}
.reservtype .formfield .radio{
	display:inline-block;
	margin:0 10px 0 0;
}

form#frm {
  display: flex;
}
.radio-style {
  display: flex;
  align-items: center;
}


.hidden-that {
  display: none;
}

.payment {
  display: flex;
  gap: 30px;
}
.top-of-reservation{
  padding-bottom: 7px;
  font-weight: bold;
}
.my-payment{
  font-weight: bold;
}

    .custom-select {
        position: relative;
    }

    a {
      color: black;
      text-decoration: none;
  }

    .custom-select::after {
        content: "	\21D3"; /* Unicode down arrow character */
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }

@media (max-width:776px){
  form#frm {
   flex-direction: column;
    /* display: flex; */
}
}
@media ( max-width: 996px){
  .formfield {
    flex: 0 0 auto;
    width: 100%;
}
}


@media ( max-width: 776px){
  .formfield {
    flex: 0 0 auto;
    width: 100%;
}
  }



/* services pages */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: #ffc107;
}
.service-wrapping {
  background: gainsboro;
}

h4.m-0.font-service ,h4.m-2.font-service{
  font-size: 16px;
}

.our-services-heading p{
  text-align: justify;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}









/* contact page */
.contact-us {
  display: flex;
  /* flex-direction: column; */
  padding: 20px;
}

.contact-info-wrapper {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}



.contact-info {
  /* display: flex;
  flex-direction: column;
  display: grid;
  justify-content: center;
  padding-top: 30px; */
  color: white;
  
  padding: 20px 45px;
  background-color: #191f23;
}
.paragarph-contact{
  padding-bottom:4px ;
}

.contact-info > div {
  display: flex;
  align-items: center;
  margin: 23px 7px;
}


.map {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

iframe {
  width: 100%;
  height: 400px;
  border: 0;
}


 
.bg-secondary {
  background-color: #fff;
}




.contact-info a{
  color: white;
}
.contact-info a:hover{
  color: #fbb400;
}
.social-logo-ul li{
  list-style: none;
    padding-right: none;
}
.social-logo-ul li{
  list-style: none;
    padding-right: none;
}

.social-logo-ul ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-logo-ul li a  {
  color: #fff;
  list-style: none;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid;
  width: 25px;
  text-align: center;
}











